<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="classicalMusicBean" class="software.sigma.ClassicalMusic"/>
    <bean id="rockMusicBean" class="software.sigma.RockMusic"/>
    <bean id="jazzMusicBean" class="software.sigma.JazzMusic"/>

    <!--  DI with list of beans  -->
    <bean id="musicPlayer" class="software.sigma.MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="classicalMusicBean"/>
                <ref bean="rockMusicBean"/>
                <ref bean="jazzMusicBean"/>
            </list>
        </property>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

    <!--  DI with setters  -->
<!--    <bean id="musicPlayer" class="software.sigma.MusicPlayer">-->
<!--        <property name="music" ref="musicBean"/>-->

<!--        <property name="name" value="Some name"/>-->
<!--        <property name="volume" value="50"/>-->
<!--    </bean>-->

    <!--  DI with property file  -->
<!--    <bean id="musicPlayer2" class="software.sigma.MusicPlayer">-->
<!--        <property name="music" ref="musicBean"/>-->

<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
<!--    </bean>-->

    <context:property-placeholder location="classpath:musicPlayer.properties"/>
</beans>